.section7wrapper{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    margin: 5%;
    padding-bottom: 3%;
    height: auto;
    width: 100%;
    background-image: url("../../public/faq-bg.png");
    background-size: cover;
    /* padding: 5%; */
  }
  
  .title{
     text-align: center;
  }

  .leftsubsection{
    
    /* margin: 3%; */
    margin-top: 3%;
     height: 25%;
     width: 100%;
     display: flex;
     justify-content: start;
  }

  .leftsubsection1{
    background-color: rgb(255, 255, 255,0.3);
    width: 80%;
    border-radius: 15px;
  }



  .rightsubsection{
    margin-top: 3%;
   
     height: 25%;
     width: 100%;
     display: flex;
     justify-content: end;
     text-align: left;
    }

    .rightsubsection1{
        background-color: rgb(255, 255, 255,0.3);
        width: 80%;
        border-radius: 15px;
      }

    .subitem{
     
      height: 70%;
      width: 100%;
     /* margin: 2%; */
     padding: 2% 3%;
     box-sizing: border-box;
     font-size: 1.2vw;
    }

    .header1{
        font-size: 2vw;
        color : blue;
        padding-top: 1%;
        padding-left: 2%;
        text-align: left;
    }